In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
sales = pd.read_csv('./kc_house_data.csv', dtype= {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [5]:
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [8]:
train_data = pd.read_csv('./kc_house_train_data.csv', dtype= {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
test_data = pd.read_csv('./kc_house_test_data.csv', dtype= {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [12]:
def simple_linear_regression(input, output):
    N = len(input)
    numerador=sum(input*output)-sum(output)*sum(input)/N
    denominador=sum(input**2)-sum(input)*sum(input)/N
    slope = numerador/denominador
    intercept = sum(output)/N-slope*sum(input)/N
    return(intercept, slope)

In [13]:
input_feature = train_data['sqft_living']
output = train_data['price']

In [21]:
sqft_intercept,sqft_slope=simple_linear_regression(input_feature, output)
print("Intercept: " + str(sqft_intercept))
print("Slope: " + str(sqft_slope))

Intercept: -47116.07907289418
Slope: 281.9588396303426

In [22]:
def get_regression_predictions(input_feature, intercept, slope):
    predicted_output = intercept + slope*input_feature
    return(predicted_output)

In [23]:
house_sqft = 2650
estimate = get_regression_predictions(house_sqft, sqft_intercept, sqft_slope)
print("The estimated price for a house with %d squarefeet is $%.2f" % (house_sqft, estimate))

The estimated price for a house with 2650 squarefeet is $700074.85

In [24]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    predict_values = intercept + slope*input_feature
    RSS = sum((predict_values-output)**2)
    return(RSS)

In [40]:
RSS=get_residual_sum_of_squares(input_feature, output, sqft_intercept, sqft_slope)
print("RSS_train:%.2f" % RSS)

RSS_train:1201918354177286.25

In [26]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept)/slope
    return(estimated_input)

In [29]:
output_house=800000
est_input = inverse_regression_predictions(output_house, sqft_intercept, sqft_slope)
print("The estimated sqft for a house worth $%.2f is %d sqft" % (output_house, est_input))

The estimated sqft for a house worth $800000.00 is 3004 sqft

In [38]:
input_feature_room = train_data['bedrooms']
room_intercept,room_slope=simple_linear_regression(input_feature_room, output)

print("Intercept: " + str(room_intercept))
print("Slope: " + str(room_slope))

Intercept: 109473.1776229596
Slope: 127588.95293398784

In [34]:
sqft_feature = test_data['sqft_living']
room_feature = test_data['bedrooms']
output_test = test_data['price']
RSS_SQFT = get_residual_sum_of_squares(sqft_feature, output_test, sqft_intercept, sqft_slope)
RSS_ROOM = get_residual_sum_of_squares(room_feature, output_test, room_intercept, room_slope)

In [35]:
print('The RSS of predicting Prices based on Bedrooms is : ' + str(RSS_ROOM))

The RSS of predicting Prices based on Bedrooms is : 493364585960301.4

In [36]:
print('The RSS of predicting Prices based on sqft is : ' + str(RSS_SQFT))

The RSS of predicting Prices based on sqft is : 275402933617813.1